.gradient-custom {
    /* fallback for old browsers */
    background: #6a11cb;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1))
    }
.nav1
{
    background:#2874f0;
}
.dash1
{
    color:#fff;
}
.btn1
{
    background:linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));
    color: #fff;
    padding: 10px;
    border-radius:5px;
}
.blog-title
{
    color:#000;
    font-size:14px;
}
.delete1
{
    background:#2874f0;
    color:#fff;
    padding:10px;
    text-decoration: none;
}
.delete1:hover
{
    background:#2874f0;
    color:#fff;
    padding:10px;
    text-decoration: none;
}
.update1
{
    background:#2874f0;
    color:#fff;
    padding:10px;
    border-radius:8px;
}